.card-link {
  text-decoration: none;
  color: inherit;
}

.trail-card {
  margin: 2em;
  padding: 1.2em;
  background: white;
}

.activities-list {
  display: flex;
  justify-content: space-around;
}
