.filter {
  position: relative;
  display: inline-block;
}

.filter-button {
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
  background-color: #2b7de9;
  background-image: none;
  cursor: pointer;
  border: transparent;
  font-weight: 600;
  color: white;
  font-size: 1em;
  line-height: 1.5;
 }

 .filter-button:hover, .active-filter:hover, .filter-apply-button:hover, .filter-reset-button:hover {
  background-color: #176dde;
 }
 .filter-button:focus {
  outline: 1px dotted;
  outline: 1px auto -webkit-focus-ring-color;
 }

.filter-dropdown {
  box-shadow: 0 1px 10px 0 rgba(255, 255, 255, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 1rem;
  display: none;
  width: 20rem;
  z-index: 50;
  left: 49vw;
  max-height: calc(100vh - 152px);
  position: absolute;
  margin-top: 0.5rem;
  background-color: #181818;
  color: white;
  overflow-y: scroll;
 }

 .filter-dropdown::-webkit-scrollbar {
   display: none;
 }

 .filter-dropdown-content {
   padding: 2rem 0;
   button {
     margin: 5px 5px;
     padding: 0.25rem 0.75rem;
   }
 }

 .difficulty-heading, .traffic-heading, .type-heading, .activity-heading {
   border-bottom: 1px solid gray;
   margin: 0.5em 0 0.5em 0;
   padding-bottom: 0.25rem;
   font-size: 1.2em;
 }

 .active-filter {
   background-color: #2b7de9;
   color: white;
   border: 1px solid #2b7de9;
 }

 .active-filter, .default {
   font-weight: 600;
   cursor: pointer;
   border-radius: 0.25rem;
 }

 .default {
   background-color: #181818;
   color: white;
   border: 1px solid white;
 }

 .default:hover {
   background-color: #464646;
 }

 .filter-dropdown-actions {
  border-top-width: 1px;
  border-top-color: #e4e7eb;
  border-top-style: solid;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem 0.5rem 0.25rem 0.5rem;
 }

 .filter-apply-button, .filter-reset-button {
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  background-color: #2b7de9;
  border-color: transparent;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.filter-apply-button {
  margin-right: 1em;
}

 @media screen and (min-width: 768px) {
  .filter-dropdown {
    display: block;
  }

  .difficulty-heading, .traffic-heading, .type-heading, .activity-heading {
    font-size: 1em;
  }
 }
