.nav-bar {
  display: none;
}

@media (min-width: 768px) {
  .nav-bar {
    // margin-right: auto;
    display: flex;
    justify-content: space-between;
    width: 20em;
    height: 5em;
    position: absolute;
    top: 0;
    right: 2em;
    // margin-right: 2em;
    margin-left: auto;
    padding-top: 2rem;
    font-size: 0.8em;
  } 
  .link {
    text-decoration: none;
    color: white;
  }
 }

