.comments-container {
  background-color: #181818;
  border-radius: 0 0 2em 2em;
  width: 95vw;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments-title {
  margin-top: 1em;
}

.comment {
  margin: 2em;
}

@media screen and (min-width: 768px) {
  .comments-container {
    width: 70vw;
  }
 }