.filter-modal {
  display: block;
  background-color: transparent;
}
 
.filter-modal-wrapper {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #181818;
  right: 0;
  bottom: 0;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  color: white;
}
 
.filter-modal-header {
  display: flex;
  padding: 1rem 0.5rem;
  border-bottom-width: 1px;
  border-bottom-color: gray;
  border-bottom-style: solid;
  justify-content: space-between;
  button {
    border: 0;
    padding: 0 0.5em;
  }
}

.filter-modal-title {
  position: absolute;
  top: 0.8em;
  left: 0;
  font-size: 1.2em;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: 1em;
  text-align: center;
}
 
.filter-modal-content {
  display: flex;
  flex-direction: column;
  padding: 1em;
  button {
    margin: 0.5rem 5px;
    padding: 0.4rem 1rem;
    font-size: 1em;
    border-radius: 15px;
  }
}
 
.filter-modal-actions {
  border-top-width: 1px;
  border-top-color: gray;
  border-top-style: solid;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem;
  margin-top: auto;
}
 
.filter-modal-actions button {
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  background-color: #2b7de9;
  border-color: transparent;
  color: white;
  font-weight: 600;
  font-size: 1.1em;
  cursor: pointer;
  width: 100%;
}

.modal-reset-button {
  font-weight: 600;
  color: white;
  font-size: 0.9em;
}

.modal-reset-button, .modal-close-button {
  cursor: pointer;
  background-color: #181818;
}

.modal-close-button {
  color: white;
  font-weight: 600;
  font-size: 1.4em;
}

@media (min-width: 768px) {
  .filter-modal {
    display: none;
  }
}