.trail-index-container {
}

.search-bar {
  width: 25em;
  margin-left: auto;
  margin-right: auto;
}

.search-input {
  padding: 0.25rem 0.75rem;
  border-radius: 0.125rem;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.5;
  border: transparent;
  margin-right: 5px;
}

.reset-search {
  padding: 0.25rem 0.75rem;
  border-radius: 0.125rem;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.5;
  border: transparent;
  margin-left: 5px;
}

.trails-title {
  color: white;
  margin-left: 1em;
  margin-right: auto;
  margin-top: 1em;
  width: 4em;
  text-align: center;
}
